body {
    background-color: gainsboro;
    border-width: 10px;
    border-style: dashed double;
    border-color: rgb(22, 25, 5);
    padding: 35px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color:rgb(22, 25, 5);
    text-decoration: underline;
    font-weight:bolder
}

h2 {
    text-align: center;
    color:rgb(22, 25, 5);
    text-decoration: underline;
}

p {
    text-align: justify;
    color:rgb(22, 25, 5);
}

ul {
    margin-left: 2em;
    list-style-type: none;
    font-weight: bold;
}

button {
    margin: auto;
    border-radius: 2.5px;
    width: 250px;
    height: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(79, 77, 77, 0.169);
}

img {
    border-style: solid;
    border-color: rgb(22, 25, 5);
    border-radius: 2.5px;
}

.butt {
    text-align: center;
}

#puzzle {
    text-align: center;
}

#images {
    text-align: center;
}

#GIFs {
    text-align: center;
}

.header {
    padding: 50px;
    text-align: center;
    background-color: rgba(79, 77, 77, 0.169);
    font-size: 30px;
}